<template name="question">
  <section class="c-modal">
    <form class="js-new-entry">
      <textarea name="entry" placeholder="Din fråga..."></textarea>
      <input type="text" name="name" placeholder="Ditt hela namn...">
      <button class="button--wide">
        {{#if loading}}
          <i class="fa fa-circle-o-notch fa-spin"></i>
        {{else}}
          <i class="fa fa-check-circle"></i>
        {{/if}}
        Skicka
      </button>
    </form>

    {{> footer}}
  </section>
</template>
