// components
.c-container
  margin 0 auto
  padding 15px
  width 100%
  max-width 600px
  box-sizing border-box

.c-modal
  @extend .c-container
  text-align center

  +above(mobile)
    position relative
    top 50%
    transform translateY(-50%)


  &--left
    text-align left

.c-logo
  display block
  margin 0 auto

  &--large
    width 150px

.c-result
  width 100%
  max-width 300px
