// components
.c-container
  margin 0 auto
  padding 15px
  width 100%
  max-width 600px
  box-sizing border-box

.c-modal
  @extend .c-container
  text-align center

  +above(mobile)
    position relative
    top 50%
    transform translateY(-50%)


  &--left
    text-align left

.c-super-overlay
  position absolute
  z-index 1000
  height 100%
  width 100%
  background rgba(#fff, .9)
  color #111
  text-align center
  font-size 50px
  top 0
  left 0
  right 0
  bottom 0
  font-weight bold
  padding 30px
  box-sizing border-box

  +above(mobile)
    &__content
      position relative
      top 50%
      transform translateY(-50%)


.c-entry
  margin-top 30px
  padding-bottom 15px
  border-bottom 1px solid #ccc
  clear both
  word-wrap break-word

  .c-entry__image img
    max-width 100%

  &__meta
    height meta-height
    line-height meta-height
    clear both

    &__elem
      display block
      float left
      height meta-height
      margin-right 5px

    &__screenname
      font-style italic

    &__name
      font-weight bold

    &__image
      max-height meta-height
      border-radius: 3px

  &__text
    font-size 17px

+above(mobile)
  .c-entry--has-image

    .c-entry__content
      column(3/4)
