@import 'nib'
// @import 'jeet'

@import 'settings.import'
@import 'components.import'
@import 'input.import'

// general style
body, html
  height 100%
  width 100%

body
  font-family bodyfont
  font-size 15px
  line-height 1.6
  color #2e2b28
  padding 0
  margin 0
  background #f7f7f7
  background radial-gradient(ellipse at center, #f7f7f7 0%, #e0e0e0 100%)

p
  margin 0 0 30px
  &.lead
    font-weight 300
    font-size 20px

a
  color orange
  text-decoration none

  footer &
    color gray

  &:hover
    color darken(orange, 20%)
